.rodape{
	background: $cor-clara;
	float: left;

	@media #{$break-800}{
		background: $cor-neutra;
		padding: 50px 0;
	}
}

#menu_rodape{
	display:none;

	@media #{$break-800}{
		width: 50%;
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
		font-size: 1.5em;
		display: block;

		nav {
			width:100%;
			position: relative;
			margin-bottom: 1em;

			ul{
				width: 90%;

				li{
					display: inline-block;
				}

				a{
					padding: 10px;
					color: $cor-primaria;
					
					&:hover{
						color: $cor-secundaria;
					}
				}
			}
		}// fim nav

		.menu_redes{
			li{
				position: relative;
				margin-right: 35px;
				@include transicao(.2s, ease);

				&:hover{
					transform: translateY(-5px);
				}
			}

			li a span{
				width: 35px;
				height: 35px;
				position: absolute;
			}

			span{
				background-image: url('../img/sprite_redes.png');
			}

			.facebook{background-position: 0px 0px}
			.twitter{background-position: -64px 0px}
			.pinterest{background-position: -128px 0px}
			.tumbrl{background-position: -194px 0px}
			.google{background-position: -258px 0px}

		}// fim menu_redes
	}
}

#newsletter{
	width: 100%;
	background: $cor-clara;
	padding: 20px;

	p{
		text-align: center;
		&:first-child{
			font-size: 1.2em;
			font-weight: bold;
		}
	}

	@media #{$break-800}{
		width: 50%;
		float: left;
		@include bordaRedonda(10px);

		p{
			line-height: 40px;
			font-size: 1.2em;
			text-align: left;
		}
	} // fim @media

	form{
		margin: 1em auto;
		width: 80%;
		position: relative;
		left:0; right:0;

		@media #{$break-800}{
			margin: 1em 0;
		}

		input{
			border: 1px solid $cor-escura;
			padding: 10px;
			@include bordaRedonda(5px);
			width: 100%;
			margin-bottom: 1em;

			@media #{$break-tablet}{
				width: 70%;
			}
		}

		button{
			width: 100%;
			padding: 10px;
			background: $cor-primaria;
			color: $cor-clara;
			text-transform: uppercase;
			@include bordaRedonda(5px);

			@media #{$break-tablet}{
				width: 25%;
			}
		}
	}

}

.assinatura{
	color: darken($cor-neutra, 40%);
	text-align: center;
	background: $cor-neutra;
	padding: 10px 0;

	@media #{$break-800}{
		background: transparent;
		padding: 0;
		line-height: 25px;
		text-align: left;
	}
}

